* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

section {
  width: 80%;
  height: 700px;
  background-color: red;
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
}
